@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: #674baf;
  --soft-magenta: #e882e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  background: var(--violet) url(images/bg-desktop.svg) no-repeat;
  background-position: left;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

main {
  margin: 0 auto;
  max-width: 144rem;
  display: grid;
  grid-template-columns: 54% 46%;
  grid-template-rows: auto 1fr;
  row-gap: 20rem;
  padding: 0 8rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 23.2rem;
  gap: 2.4rem;
  margin-left: 5.9rem;
}

.title {
  font: 4rem "Poppins", sans-serif;
  font-weight: 600;
  line-height: 6rem;
}

.right-section p {
  font: 1.8rem "Open Sans", sans-serif;
  line-height: 2.7rem;
}

button {
  border: none;
  border-radius: 2.8rem;
  background-color: #fff;
  padding: 1.3rem 6.3rem;
  color: var(--violet);
  font: 1.8rem "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
  transition: transform 0.5s ease;
}

button:hover {
  color: #fff;
  background-color: var(--soft-magenta);
  transform: translateY(-0.5rem);
}

button:active {
  transform: translateY(0);
}

.left-section {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 6.4rem;
  max-width: 20rem;
  width: 100%;
}

.diagram {
  max-width: 68.6rem;
  width: 100%;
  margin-top: 7.65rem;
}

footer {
  display: flex;
  margin-bottom: 4rem;
  gap: 2.3rem;
  justify-content: end;
  grid-column: span 2;
  grid-row-end: auto;
}

ion-icon {
  font-size: 2rem;
  color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1rem;
  align-items: end;
  cursor: pointer;
  transition: transform 0.5s ease;
}

ion-icon:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
  transform: translateY(-0.5rem);
}

ion-icon:active {
  transform: translateY(0rem);
}
